<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Tech-Health.com</title>
    <script src="Scripts/angular.min.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    <!-- <script src="app/controllers/demoController.js"></script>-->
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body ng-controller="myController">

    <div>
        <img ng-src={{path}} class="image" />

    </div>

    <div id="myMenu" class="menu-bar">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    HOME
                </a>

            </li>
            <li>
                <a href="#CULTURE">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    CULTURE
                </a>
            </li>

            <li>
                <a href="#Statistics">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    STATISTICS
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    BLOGS
                </a>
            </li>
            <li>
                <a href="#CASESTUDIES">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    CASE STUDIES
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    ABOUT US
                </a>
                <div class="sub-menu-1">
                    <ul>
                        <li>
                            <a href="#">Mission</a>
                        </li>
                        <li><a href="#">Vision</a></li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    CONTACT US
                </a>
            </li>
        </ul>
    </div>
    <!--<div>
        <img ng-src={{pathpic}} class="center" />

    </div>-->
    <!--<div class="rounded-head">
        <img ng-src={{logo}} style="width:5%" />
        <h1>HEALTH IN IT SECTOR</h1>
    </div>-->
    <div>
        <!--<img ng-src={{path}} class="center" />-->

    </div>


    <div class="container">
        <div ng-click="active=!active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
            <a name="CULTURE"></a>
            <h2 class="rounded">OUR CULTURE</h2>
        </div>
        <div class="slideDown" ng-hide="active">
            <div class="expand-collapse-content">
                <p class="ptext">
                    Every organization, from small businesses to large corporations, has a culture. The culture refers to the values and attitudes of employees in the business or organization. In a business with an unhealthy culture, employees act as individuals, performing their duties to meet their own needs, such as a paycheck or health benefits. A healthy corporate culture values each employee in the organization regardless of his job duties, which results in employees working as a team to meet the company’s and their own personal needs. Healthy corporate culture improves the performance of a business in a number of areas.

                </p>
            </div>
        </div>

    </div>


    <div class="container">
        <div ng-click="active1=!active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
            <a name="Statistics"></a>
            <h2 class="rounded">INDIA'S STATISTICS</h2>
        </div>
        <div class="slideDown" ng-hide="active1">
            <div class="expand-collapse-content">
                <p class="ptext">
                    abcd
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-click="active2=!active2" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
            <h2 class="rounded">WHERE WE STAND</h2>
        </div>
        <div class="slideDown" ng-hide="active2">
            <div class="expand-collapse-content">
                <p class="ptext">
                    abcd
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-click="active3=!active3" ng-class="{'expandcollapse-heading-collapsed': active3, 'expandcollapse-heading-expanded': !active3}">
            <h2 class="rounded">WHY WE SUFFER</h2>
        </div>
        <div class="slideDown" ng-hide="active3">
            <div class="expand-collapse-content">
                <ol class="ptext">
                    <li>
                        <h3>LIFESTYLE</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>BACK PAINS</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>EATING HABITS</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>
                            QUALITY OF CHAIRS
                        </h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>POOR SEATING POSTURE</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>DEPRESSION</h3>
                        <p></p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="container">
            <div ng-click="active4=!active4" ng-class="{'expandcollapse-heading-collapsed': active4, 'expandcollapse-heading-expanded': !active4}">
                <h2 class="rounded">HOW TO OVERCOME</h2>
            </div>
            <div class="slideDown" ng-hide="active4">
                <div class="expand-collapse-content">
                    <ol class="ptext">

                        <li>
                            <div>
                                DESKERCISE
                                <p></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                YOGA
                                <p></p>
                            </div>
                        </li>

                    </ol>
                </div>
            </div>

        </div>
        <div class="container">
            <div ng-click="active5=!active5" ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
                <a name="CASESTUDIES"></a>
                <h2 class="rounded">CASE STUDIES</h2>
            </div>
            <div class="slideDown" ng-hide="active5">
                <div class="expand-collapse-content">

                    <h2 class="ptext">46% of workforce in firms in India suffer from some or the other form of stress: Data</h2>
                    <p class="ptext">
                        Last month, 47-year old fitness freak Saumil Shah, who headed equities at Bank of America Merrill Lynch India, died of a sudden heart attack.

                        A couple of weeks before, 47-year-old Britannica Chief Operating Officer Vineet Whig jumped off to his death from a building in Gurgaon. Some news reports said the suicide note found in his pocket stated that he was ending his life as he was “fed up” with himself.
                    </p>
                    <p class="ptext">
                        A combination of lifestyle issues and overall environmental stress is creating tremendous pressure for individuals leading to heart attacks or mental issues such as depression or suicides, said doctors and experts. There is no proof that Shah’s death is stress related but it shocked corporate India as a young life was snapped so suddenly.
                    </p>
                    <p class="ptext">
                        A high 46% of the workforce in organisations in India suffers from some or the other form of stress, according to the latest data from Optum, provider of employee assistance programmes to corporates. Optum’s study had a sample size of 200,000 employees (over 30 large employers) who took an online Health Risk Assessment during the first quarter of 2016.
                    </p>
                    <p class="ptext">
                        The study found 43% with skewed BMI (body mass index), of which 30% with diabetic risk, 30% with hypertension risk and 46% high on stress. This number is about 30% higher than a survey that it conducted in 2014 with a sample size of 30,000. Commonly accepted BMI ranges are underweight: under 18.5, normal weight: 18.5 to 25, overweight: 25 to 30, obese: over 30.
                    </p>
                    <p class="ptext">
                        “It is a burning issue in corporate India that everyone has to address. Our entire society creates stress, right from childhood exam results to making a career. Organisations must understand that there is this serious factor called stress and proactively deal with it,” said Harsh Mariwala, chairman of Marico.
                    </p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>