<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Tech-Health.com</title>
    <script src="Scripts/angular.min.js"></script>
    <link href="StyleSheet.css" rel="stylesheet" />
    <!-- <script src="app/controllers/demoController.js"></script>-->
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body ng-controller="myController">

    <div>
        <img ng-src={{path}} class="image" />

    </div>
    <div id="myMenu" class="menu-bar">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    HOME
                </a>

            </li>
            <li>
                <a href="#CULTURE">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    CULTURE
                </a>
            </li>

            <li>
                <a href="#Statistics">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    STATISTICS
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    BLOGS
                </a>
            </li>
            <li>
                <a href="#CASESTUDIES">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    CASE STUDIES
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    ABOUT US
                </a>
                <div class="sub-menu-1">
                    <ul>
                        <li>
                            <a href="#">Mission</a>
                        </li>
                        <li><a href="#">Vision</a></li>
                        <li>
                            <a href="#">Team</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    CONTACT US
                </a>
            </li>
        </ul>
    </div>
    <!--<div>
        <img ng-src={{pathpic}} class="center" />

    </div>-->
    <!--<div class="rounded-head">
        <img ng-src={{logo}} style="width:5%" />
        <h1>HEALTH IN IT SECTOR</h1>
    </div>-->
    <div>

        <!--<img ng-src={{path}} class="center" />-->

    </div>


    <div class="container">
        <div ng-click="active=!active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
            <a name="CULTURE"></a>
            <h2 class="rounded">OUR CULTURE</h2>
        </div>
        <div class="slideDown" ng-hide="active">
            <div class="expand-collapse-content">
                <p class="ptext">
                    Every organization, from small businesses to large corporations, has a culture. The culture refers to the values and attitudes of employees in the business or organization. In a business with an unhealthy culture, employees act as individuals, performing their duties to meet their own needs, such as a paycheck or health benefits. A healthy corporate culture values each employee in the organization regardless of his job duties, which results in employees working as a team to meet the company’s and their own personal needs. Healthy corporate culture improves the performance of a business in a number of areas.
                    myfitemployee.com aims to encourage corporates to adopt healthy work culture and assists employees to overcome their physical and mental problems.
                </p>
                <p class="ptext">
                    “Unhappy employees are 10 percent less productive than their happy counterparts.”

                    In the corporate workplace culture, happiness plays a crucial role in determining the productivity and satisfaction of a workforce. It also enhances the image of a company and improves its ability to retain its employees for the long term. So, it is fair to say that happiness at work is indispensable.
                    In a broader sense, happiness rely on two major factors i.e Physical health and Mental Health. It encourages work force to get in regaular touch with doctors, councellors to remain healthy and fit.


                </p>
            </div>
        </div>

    </div>


    <div class="container">
        <div ng-click="active1=!active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
            <a name="Statistics"></a>
            <h2 class="rounded">INDIA'S STATISTICS</h2>
        </div>
        <div class="slideDown" ng-hide="active1">
            <div class="expand-collapse-content">
                <p class="ptext">
                    abcd
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-click="active2=!active2" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
            <h2 class="rounded">WHERE WE STAND</h2>
        </div>
        <div class="slideDown" ng-hide="active2">
            <div class="expand-collapse-content">
                <p class="ptext">
                    abcd
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-click="active3=!active3" ng-class="{'expandcollapse-heading-collapsed': active3, 'expandcollapse-heading-expanded': !active3}">
            <h2 class="rounded">HOW WE SUFFER</h2>
        </div>
        <div class="slideDown" ng-hide="active3">
            <div class="expand-collapse-content">
                <ol class="ptext">
                    <li>
                        <h1>
                            What is mental health and why does it matter?

                        </h1>
                        <p class="ptext">
                            Today, where in most companies the employees are overwhelmed with their deadlines, projects and what not. Sometimes it gets so burdensome that the most important thing is overlooked, and that is our mental health.
                            Poor mental health is one of the biggest issues in the workplace today, causing over 70 million working days to be lost each year. There are various consequences of mental health issues in a workplace:
                            <h3>
                                Absenteeism

                            </h3>
                            • increase in overall sickness absence, particularly frequent short periods of absence
                            • poor health (depression, stress, burnout)
                            • physical conditions (high blood pressure, heart disease, ulcers, sleeping disorders, skin rashes, headache, neck- and backache, low resistance to infections).
                            <h3>
                                Work performance

                            </h3>
                            • reduction in productivity and output
                            • increase in error rates
                            • increased amount of accidents
                            • poor decision-making
                            • deterioration in planning and control of work.
                            <h3>
                                Staff attitude and behaviour

                            </h3>
                            • loss of motivation and commitment
                            • burnout
                            • staff working increasingly long hours but for diminishing returns
                            • poor timekeeping
                            • labour turnover (particularly expensive for companies at top levels of management).

                        </p>
                        <h1>
                            What is physical health and why does it matter?
                        </h1>
                        <p class="ptext">
                            Traditional workplace wellness has focused primarily on the physical aspects - through on-site screenings, health risk appraisal questionnaires, and perhaps some health coaching and education. But physical well being is more than that.
                            Thriving in physical wellbeing does not just mean the absence of disease. It’s the energy and vitality to do everyday tasks with ease. Don’t get me wrong, health risks are important to consider, but they don’t tell the whole story.
                            Physical activity, simply moving around and being active, along with eating nutritious food and getting enough sleep are extremely important elements of physical wellbeing.
                            With each of these elements, workplace initiatives should aim to educate employees and arm them with the knowledge and skills to develop healthy habits. You can offer all the programs you’d like, but employees won’t engage unless it is on their own terms. You can’t reward or penalize someone into better health. Instead, focus your efforts on fostering an environment that supports overall wellbeing, where the healthy choice is the easier choice.

                        </p>
                        <h3>LOWER-BACK PAIN</h3>
                        <p class="ptext">
                            While you may think that lower-back pain only affected your father after he “single-handedly wrestled with a full-grown grizzly bear”, it has become an increasing problem for office workers of all ages. Experts say that this is due to the increase in sedentary positions; namely, sitting on your ass for more than a few hours of the day. Add to that an increase in bad posture, and the result can be devastating to your body over time. Employers should be mindful of this as well since, according to Georgetown University, back pain is among the top reasons for employees having to miss work (at least that is what they claim to be missing work for). It isn’t just slouching either, sitting up straight but curving your back too much can also lead lower-back pain.
                        </p>
                        <p class="ptext">
                            Experts say that having large items in your back pocket such as a wallet, or smart phone, while sitting increases back pain as it puts pressure on the sciatic nerve.
                        </p>
                    </li>
                    <li>
                        <h3>EYE STRAIN</h3>
                        <p class="ptext">
                            Those of us who have to look at spreadsheets for hours on end will most certainly have felt, at some point, that the numbers were burning holes in our eyes.
                        </p>
                        <p class="ptext">
                            Programmers sorting through thousands of lines of code on a mountain dew fuelled 3am coding binge are well aware of the melty eye phenomenon. Well, the feeling that your eyes may be, literally, melting out of your head isn’t too far off from reality; staring at a computer screen for long periods of time can lead to blurry and overly sensitive eyes, too-watery or too-dry eyes, headaches or a sore neck according to the Mayo Clinic.
                        </p>
                    </li>
                    <li>
                        <h3>OBESITY</h3>
                        <p class="ptext">
                            Although not a new issue, the problem is becoming worse as lack of physical activities, increased levels of stress, and the growing prevalence of junk food contribute to an increase in obesity in workplaces around the world.
                        </p>

                        <p class="ptext">
                            Obesity is a main factor in increased levels of LDL cholesterol in blood, blood clotting and other dangerous medical conditions. It can also have effects on your muscles and posture, resulted in a downward spiral of a healthy mind and body. Obesity is also a main contributor to Erectile Dysfunction in adult males; which should be enough reason for all our guy readers to hit the gym, now.
                        </p>
                    </li>
                    <li>
                        <h3>NOISE STRESS</h3>
                        <p class="ptext">
                            Phones ringing, loud printers, annoying coworkers and other office noises can, in fact, be a health risk. Cornell University environmental psychologist, Gary Evans, conducted a study that revealed office noise in open-style offices can lead to “higher levels of stress and lower task motivation.” There may be a reason why the hustle and bustle of a post office causes some employees to “go postal.”
                        </p>
                        <p class="ptext">
                            Evans and his colleagues believe that while some low-level noise can lead to workers becoming more focused on their tasks, the long term effects of noise stress affect decision making, as well as concentration, keeping workers from realizing that they need to take a break or change their posture, which as we already know can lead to detrimental health. Long-term exposure to noise stress may mean your coworker could be packing more than just his lunch one day.
                        </p>
                    </li>
                    <li>
                        <h3>EATING HABITS</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>
                            QUALITY OF CHAIRS
                        </h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>POOR SEATING POSTURE</h3>
                        <p></p>
                    </li>
                    <li>
                        <h3>DEPRESSION</h3>
                        <p></p>
                    </li>
                </ol>
            </div>
        </div>

        <div class="container">
            <div ng-click="active4=!active4" ng-class="{'expandcollapse-heading-collapsed': active4, 'expandcollapse-heading-expanded': !active4}">
                <h2 class="rounded">HOW TO OVERCOME</h2>
            </div>
            <div class="slideDown" ng-hide="active4">
                <div class="expand-collapse-content">
                    <ol class="ptext">


                        <li>
                            <div>

                                <p class="ptext">
                                    <h3>
                                        For Employers -
                                    </h3>
                                    Provide Constructive Feedback.
                                    Like mentioned earlier, feedback can help an individual improve his skills and become more satisfied in life.
                                    Organize daily scrums at work where you can acknowledge the hard work of your employees and give them the necessary feedback and suggestions. Doing so can make your employees feel appreciated and create a happier workforce.

                                    Provide training and mentoring sessions.
                                    Offer training programs and mentoring sessions in your workplace. They will help to make your employees more motivated and make sure they give their best effort at work. Your employees will also be able to improve their skills and feel more confident in their jobs.

                                    Provide flexible hours to your employees.
                                    Be open to providing flexible work hours and remote options for your employees. Flexible schedules significantly increase employee productivity and morale. They allow a level of freedom to create their work schedules and achieve work-life balance. Also, by offering such options, you can attract and retain better talent to work for your company.
                                    <h3>
                                        For Employees-
                                    </h3>
                                    Engage with other departments.
                                    Get out of your workspace and connect with other teams and departments in your office. Doing so will help create better relations with them, and you might also learn new skills that might increase your worth for the company.

                                    Help others.
                                    Come forward and help your colleagues whenever they need assistance. Helping and supporting people in their time of need can make you feel better about yourself and the level of happiness it provides is unparalleled by anything else.

                                    Focus on one task at one time.
                                    Focusing on more than one task at a particular time can increase stress and be a cause of unhappiness. Prioritizing your tasks according to their importance will help you combat this and keep you focused at work.


                                </p>
                                <h3>EXERCISE</h3>
                                <p class="ptext">
                                    Besides being better aware of your posture as you’re sitting at your desk, getting regular exercise, including abdominal strengthening activities, should relieve some of the pressure on your lower back.
                                </p>
                                <p class="ptext">

                                    Make sure you stand often; the simple act of standing improves blood flow and engages your muscles from feet to trunk. If you do not have a reason to get up, make one! Moving your desk items such as printer, scotch tape, fax machine away from your desk, as well as getting up to talk to someone instead of sending them an email can help you get up and around more often.
                                </p>
                                <p class="ptext">

                                    The chair that you sit in is also very important; it should help support good posture and not reinforce bad ones.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>INCREASE YOUR FONT-SIZE</h3>
                                <p class="ptext">
                                    To prevent eyestrain at your computer, increase your font size so you don’t have to squint. You should also rest your eyes frequently by looking away from your computer screen, which, coincidentally, is a perfect excuse when your boss catches you taking a little catnap, “I was just resting my eyes to reduce eyestrain, boss.” If he doesn’t believe you, make sure he knows that as a worse case it can cause dizziness, fatigue or vomiting and is often attributed to learning and attention problems. Your office IT department may also recommend switching the text on your screen to white, while changing the background to black as a method to reduce eye strain; but if you’re using a CTR computer monitor, changing this set up often may cause the monitor to explode.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>SMALL MEALS</h3>
                                <p class="ptext">
                                    Watch what you eat at the office and do not pig out with a big meal at lunch. Besides being unhealthy for you, a large lunch will most certainly not help as you try to keep your eyes open during the afternoon doldrums. Health experts say that the best way to keep your waistline from expanding is small meals more often. Also, instead of munching on chips and candy bars throughout the day, keep it healthy.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                YOGA
                                <p></p>
                            </div>
                        </li>

                    </ol>
                </div>
            </div>

        </div>
        <div class="container">
            <div ng-click="active5=!active5" ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
                <a name="CASESTUDIES"></a>
                <h2 class="rounded">CASE STUDIES</h2>
            </div>
            <div class="slideDown" ng-hide="active5">
                <div class="expand-collapse-content">

                    <h2 class="ptext">46% of workforce in firms in India suffer from some or the other form of stress: Data</h2>
                    <p class="ptext">
                        Last month, 47-year old fitness freak Saumil Shah, who headed equities at Bank of America Merrill Lynch India, died of a sudden heart attack.

                        A couple of weeks before, 47-year-old Britannica Chief Operating Officer Vineet Whig jumped off to his death from a building in Gurgaon. Some news reports said the suicide note found in his pocket stated that he was ending his life as he was “fed up” with himself.
                    </p>
                    <p class="ptext">
                        A combination of lifestyle issues and overall environmental stress is creating tremendous pressure for individuals leading to heart attacks or mental issues such as depression or suicides, said doctors and experts. There is no proof that Shah’s death is stress related but it shocked corporate India as a young life was snapped so suddenly.
                    </p>
                    <p class="ptext">
                        A high 46% of the workforce in organisations in India suffers from some or the other form of stress, according to the latest data from Optum, provider of employee assistance programmes to corporates. Optum’s study had a sample size of 200,000 employees (over 30 large employers) who took an online Health Risk Assessment during the first quarter of 2016.
                    </p>
                    <p class="ptext">
                        The study found 43% with skewed BMI (body mass index), of which 30% with diabetic risk, 30% with hypertension risk and 46% high on stress. This number is about 30% higher than a survey that it conducted in 2014 with a sample size of 30,000. Commonly accepted BMI ranges are underweight: under 18.5, normal weight: 18.5 to 25, overweight: 25 to 30, obese: over 30.
                    </p>
                    <p class="ptext">
                        “It is a burning issue in corporate India that everyone has to address. Our entire society creates stress, right from childhood exam results to making a career. Organisations must understand that there is this serious factor called stress and proactively deal with it,” said Harsh Mariwala, chairman of Marico.
                    </p>
                </div>
            </div>

        </div>
        <div class="container1">
            <div ng-click="active5=!active5" ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
                <a name="ContactUs"></a>
                <h2 class="rounded">Contact Us</h2>
                <div class="container">
                    <div style="text-align:center">

                        <p> Leave us a message:</p>
                    </div>
                    <div class="row">
                        <div class="column">
                            <img src="/w3images/map.jpg" style="width:100%">
                        </div>
                        <div class="column">
                            <form action="/action_page.php">
                                <label for="fname">First Name</label>
                                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                <label for="lname">Last Name</label>
                                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                <label for="country">Country</label>
                                <select id="country" name="country">
                                    <option value="india">INDIA</option>
                                    <option value="australia">Australia</option>
                                    <option value="canada">Canada</option>
                                    <option value="usa">USA</option>
                                </select>
                                <label for="subject">Subject</label>
                                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container1">
        <div ng-click="active5=!active5" ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
            <a name="ContactUs"></a>
            <h2 class="rounded">Contact Us</h2>
            </div>
            <h2 style="text-align:center">Our Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img ng-src={{team1}} class="image" height="10" width="10" />
                        <div class="container">
                            <h2>Neha Chawla</h2>
                            <p class="title">CEO & Founder</p>
                            <p></p>
                            <p>nehachaw0708@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img ng-src={{team2}} class="image" width="42" height="42" />
                        <div class="container">
                            <h2>Namanpreet Singh</h2>
                            <p class="title">Director</p>
                            <p></p>
                            <p>myselfnaman@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
</body>
</html>