

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    width: 90%; /* Set the width of the sidebar */
    padding: 1px; /* Some padding */
    text-align: center;
}

.main {
    width: 5%; /* Set the width of the main content */
    background-color: white; /* White background color */
    text-align: center;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.rounded {
    background: #3a8e8e;
    padding: 10px;
    border-radius: 15px 50px 15px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rounded-head {
    background: #3a8e8e;
    padding: 10px;
    border-radius: 15px 50px 15px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10%;
    text-align: center;
}
